<div *ngIf="weapon" class="container">
    <form (ngSubmit)="saveWeapon()" #weaponForm="ngForm">
      <h1>Оружие</h1>
      <div class="form-group">
        <label for="avatar">Аватарка</label>
        <div class="alert-warning" *ngIf="max">Загруженное изображение превышает допустимый объем. Пожалуйста, выберите другое.</div>
        <div class="img">
          <img *ngIf="retrievedImage" [src]="retrievedImage" >
        </div>
        <input id="avatar" type="file" accept='image/*' (change)="onFileChanged($event)">
      </div>
      <div class="form-group">
            <label for="name">Название</label><br>
            <span name="name" *ngIf="weapon.name" (ngModel)="weapon.name.length">{{weapon.name.length}}/255</span>
            <input type="text" class="form-control" id="name"
                   required maxlength=255
                   [(ngModel)]="weapon.name" name="name"
                   #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                 class="alert alert-danger">
              Это поле обязательно
            </div>
      </div>
      <div class="form-group">
            <label for="handsCount">Кол-во рук</label>
            <select class="form-control" id="handsCount"
            required 
            [(ngModel)]="weapon.handsCount" name="handsCount"
            #handsCount="ngModel">
              <option *ngFor="let hand of hands" (value)="hand">{{hand}}</option>
            </select>
            <div [hidden]="handsCount.valid || handsCount.pristine"
                 class="alert alert-danger">
                 Это поле обязательно
            </div>
        </div>
         <div class="form-group">
            <label for="description">Описание</label><br>
            <span name="description" *ngIf="weapon.description"  (ngModel)="weapon.description.length">{{weapon.description.length}}/255</span>
            <textarea style="resize: none;" type="text" class="form-control" id="description"
                   required maxlength=255
                   [(ngModel)]="weapon.description" name="description"
                   #description="ngModel"></textarea>
            <div [hidden]="description.valid || description.pristine"
                 class="alert alert-danger">
                 Это поле обязательно
            </div>
        </div>       
          <button type="submit" [disabled]="!weaponForm.form.valid" type="submit" class="btn btn-success">Сохранить
            </button>
    </form>
</div>