<form *ngIf="rating" (ngSubmit)="saveRating()" #ratingForm="ngForm">
<div class="form-group">
    <label for="weapon">Оружие</label>
    <select class="form-control" id="weapon" 
    required
    [(ngModel)]="wpStr" name="weapon"
    #weapon="ngModel">
<option value="null">Выберите оружие</option>
<option *ngFor="let weapon of weapons" (value)="weapon">{{weapon.id+":"+weapon.name}}</option>
</select>
<div class="alert-danger" style="text-align: center;" [hidden] = "weapon.dirty">Оружие не выбрано</div>
</div>
<div class="row"> 
<div class="col" style="width: 45%;">
    <div class="form-group">
        <label for="rate">Общая оценка:{{rating.rating}}</label>
        <input *ngIf="rating" type="range" class="form-control" id="rate"
               required max=10 min=0 
               [(ngModel)]="rating.rating" name="rate"
               #rate="ngModel">
  </div>
    <div class="form-group">
        <label for="reqForStrAndEnd">Требования к физ.подготовке:{{rating.requirementsForStrengthAndEndurance}}</label>
        <input *ngIf="rating" type="range" class="form-control" id="reqForStrAndEnd"
               required max=10 min=0 
               [(ngModel)]="rating.requirementsForStrengthAndEndurance" name="reqForStrAndEnd"
               #reqForStrAndEnd="ngModel">
  </div>
  <div class="form-group">
    <label for="reqForExp">Требования к опыту:{{rating.requirementForExp}}</label>
    <input type="range" class="form-control" id="reqForExp"
           required max=10 min=0 
           [(ngModel)]="rating.requirementForExp" name="reqForExp"
           #reqForExp="ngModel">
</div>
<div class="form-group">
    <label for="accur">Точность:{{rating.accuracy}}</label>
        <input type="range" class="form-control" id="accur"
           required max=10 min=0 
           [(ngModel)]="rating.accuracy" name="accur"
           #accur="ngModel">
</div>
<div class="form-group">
    <label for="defense">Защита:{{rating.defense}}</label>
    <input type="range" class="form-control" id="defense"
           required max=10 min=0 
           [(ngModel)]="rating.defense" name="defense"
           #defense="ngModel">
</div>
<div class="form-group">
    <label for="repairAbility">Легкость ремонта:{{rating.repairAbility}}</label>
        <input type="range" class="form-control" id="repairAbility"
           [(ngModel)]="rating.repairAbility" name="repairAbility"  
           max=10 min=0>
</div>
</div>
<div class="col" style="width: 45%;">
    <div class="form-group">
        <label for="range">Дальность:{{rating.range}}</label>
        <input type="range" class="form-control" id="range"
               required max=10 min=0 
               [(ngModel)]="rating.range" name="range"
               #range="ngModel">
  </div>
  <div class="form-group">
    <label for="safety">Безопасность:{{rating.safety}}</label>
        <input type="range" class="form-control" id="safety"
           required max=10 min=0 
           [(ngModel)]="rating.safety" name="safety"
           #safety="ngModel">
</div>
<div class="form-group">
    <label for="singleHitSpeed">Скорость одиночного удара:{{rating.singleHitSpeed}}</label>
        <input type="range" class="form-control" id="singleHitSpeed"
           required max=10 min=0 
           [(ngModel)]="rating.singleHitSpeed" name="singleHitSpeed"
           #singleHitSpeed="ngModel">
</div>
<div class="form-group">
    <label for="pace">Темп:{{rating.pace}}</label>
        <input type="range" class="form-control" id="pace"
           required max=10 min=0 
           [(ngModel)]="rating.pace" name="pace"
           #pace="ngModel">
</div>
<div class="form-group">
    <label for="fintVariety">Вариативность:{{rating.fintVariety}}</label>
    <input type="range" class="form-control" id="fintVariety"
           required max=10 min=0 
           [(ngModel)]="rating.fintVariety" name="fintVariety"
           #fintVariety="ngModel">
 </div>
    <div class="form-group">
        <label for="durability">Прочность:{{rating.durability}}</label>
        <input type="range" class="form-control" id="durability"
               max=10 min=0  
               [(ngModel)]="rating.durability" name="durability"
               #durability="ngModel">
    </div>
</div>
</div>
<button type="submit" [disabled]="!ratingForm.form.valid" type="submit" class="btn btn-success">Сохранить
</button>
</form>

