<div>
    <div class="container">
      <button routerLink="/weaponsentity/new">Новое оружие</button>
        <div class="table-responsive" id="entities" *ngIf="weapons?.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                    <tr>
                        <th scope="col" ><span>ID</span></th>
                        <th scope="col" ><span>Название</span></th>
                        <th scope="col" ><span>Описание</span></th>
                        <th scope="col" ><span>Кол-во рук</span></th>
                        <th scope="col" ></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let weapon of weapons">
                        <td>{{weapon.id}}</td>
                        <td>{{weapon.name}}</td>
                        <td>{{weapon.description}}</td>
                        <td>{{weapon.handsCount}}</td>
                        <td><button routerLink="/weaponsentity/{{weapon.id}}">Редактировать</button>
                            <button routerLink="/weapon/{{weapon.id}}">Страница оружия</button>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
    </div>
</div>