<div>
    <div class="container">
        <button routerLink="/rating/new">Оценить оружие</button>
        <div class="table-responsive" id="entities" *ngIf="ratings?.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                    <tr>
                        <th scope="col" ></th>
                        <th scope="col" ><span>ID</span></th>
                        <th scope="col" ><span>Оценка</span></th>
                        <th scope="col" ><span>Название оружия</span></th>
                        <th scope="col" ><span>Требования к физ.подготовке</span></th>
                        <th scope="col" ><span>Требования к опыту</span></th>
                        <th scope="col" ><span>Дальность</span></th>
                        <th scope="col" ><span>Прочность</span></th>
                        <th scope="col" ><span>Легкость ремонта</span></th>
                        <th scope="col" ><span>Темп</span></th>
                        <th scope="col" ><span>Скорость одиночного удара</span></th>
                        <th scope="col" ><span>Защита</span></th>
                        <th scope="col" ><span>Точность</span></th>
                        <th scope="col" ><span>Вариативность</span></th>
                        <th scope="col" ><span>Безопасность</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rating of ratings">
                        <td><button routerLink="/rating/{{rating.id}}">Редактировать</button></td>
                        <td>{{rating.id}}</td>
                        <td>{{rating.rating}}</td>
                        <td>{{rating.weapon.name}}</td>
                        <td>{{rating.requirementsForStrengthAndEndurance}}</td>
                        <td>{{rating.requirementForExp}}</td>
                        <td>{{rating.range}}</td>
                        <td>{{rating.durability}}</td>
                        <td>{{rating.repairAbility}}</td>
                        <td>{{rating.pace}}</td>
                        <td>{{rating.accuracy}}</td>
                        <td>{{rating.singleHitSpeed}}</td>
                        <td>{{rating.defense}}</td>
                        <td>{{rating.fintVariety}}</td>
                        <td>{{rating.safety}}</td>
                    </tr>
                </tbody>
                </table>
            </div>
    </div>
</div>