<div class="container">
    <div class="row">
        <div class="col" style="margin: 0;padding: 0;">
            <div class="img">
                <img *ngIf="image" [src]="image" >
            </div>
        </div>
        <div class="col">
                <span>ID:{{weapon.id}}</span><br>
                <span>Имя:{{weapon.id}}</span>
                <hr>
                <textarea style="resize: none;height: 50%;width: 100%;">{{weapon.description}}</textarea> 
        </div>
    </div>
    <div *ngIf="options1" class="row">
        <div class="col" style="margin: 0;padding: 0; height:100%;float:left;">
            <ag-charts-angular [options]="options1"></ag-charts-angular>
        </div>
    </div>
</div>
